node_modules/
npm-debug.log

.env
public/uploads/
mongo-data/
db/

*.archive
*.tar.gz
certbot/
app_bak.js
sexappeal_local_after_embed.archive

.git
.DS_Store
.vscode/
.history-memo/
investor_materials/